{% extends 'blog_app/base.html' %}

{% block content %}
    
    
       <h2>Welcome to The Time Blog!</h2> 

<p>Here, we share insights, ideas, and stories that inspire and inform. Whether you're here for tutorials, thought-provoking articles, or personal reflections, we aim to create content that resonates with readers like you.</p>

<p> Our mission is to connect, educate, and spark conversations. Dive in, explore, and join our growing community of curious minds.
</p>
<p>Thank you for visiting – we’re glad you’re here!</p>
    
{% endblock %}